[submodule "modelPapers"]
	path = modelPapers
	url = https://github.com/ustbmicl-ros2epucksRL/modelPapers.git
[submodule "splitAcce"]
	path = splitAcce
	url = https://github.com/ustbmicl-ros2epucksRL/splitAcce.git
[submodule "transformerFlow"]
	path = transformerFlow
	url = git@github-miclsirr:ustbmicl-ros2epucksRL/transformerFlow.git
